.page-content p {
  font-size: 15px !important;
}
.ti-selected-item {
  background-color: #8a8a8a !important;
}
.header-search-input ::-webkit-input-placeholder {
  text-align: center;
}

.header-search-input :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.header-search-input ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.header-search-input :-ms-input-placeholder {
  text-align: center;
}
a.q-tags {
  color: white;
  background-color: #ccc;
  border-color: #e1ecf4;
  margin: 0 2px 0;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 4px;
}
.profile-sidebar .router-link-exact-active{
  background-color:#898989;
}
.profile-sidebar .router-link-exact-active:hover{
  color: #ddd;
}
a {
  text-decoration: none !important;
}