a {
  text-decoration: none !important;
}
a.link-cursor {
  cursor: pointer;
}
a.q-tags {
  color: white;
  background-color:#456FF1;
  border-color: #e1ecf4;
  margin: 0 2px 0;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 4px;
}